# Dependencies & build artifacts
node_modules/
dist/
/target/
src-tauri/target/

# Package manager noise
.pnpm-debug.log*
.pnpm-store/

# Dev tooling
.direnv/
.vscode/
.wine-tauri/
.nix-makensis/

# OS & editor cruft
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
